@import "variables";
@import "bourbon";

@font-face {
      font-family: 'fontello';
      src: url('../fonts/fontello/fontello.eot?29960797');
      src: url('../fonts/fontello/fontello.eot?29960797#iefix') format('embedded-opentype'),
           url('../fonts/fontello/fontello.woff?29960797') format('woff'),
           url('../fonts/fontello/fontello.ttf?29960797') format('truetype'),
           url('../fonts/fontello/fontello.svg?29960797#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }

@font-face{
    font-family: 'Quicksand', sans-serif;
    src: url("../fonts/Quicksand/OpenSans-Regular.ttf") format('truetype');
    font-weight:normal;
}
@font-face{
    font-family: 'Dosis', sans-serif;
    src: url("../fonts/Dosis/OpenSans-Bold.ttf") format('truetype');
    font-weight:normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,h2,h3,h4,h5,h6,p,ul {
    margin:0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
img {
    width: 100%;
    height: auto;
}
body {
    font-family: $baseFont;
    font-size: 18px;
}
.disp-block {
    display: block;
}
.disp-inline-block {
    display: inline-block;
}
.overflow-hidden {
    overflow: hidden;
}
.flex {
    @include display(flex);
}
.flex-row {
    @include flex-direction(row);
}
.flex-column {
    @include flex-direction(column);
}
.align-center {
    @include align-items(center);
}
.row-reverse {
    @include flex-direction(row-reverse);
}

.container {
    max-width: 1215px;
    margin:0 auto;
    width: 100%;
    padding: 0px 15px;
}

.head-box {
    color: #fff;
    text-align: center;
    max-width: 1021px;
    width: 100%;
    margin: 0 auto;
    transform: translate3d(0,-100%,0);
    &.border {
        border: 2px solid #fff;
        padding: 63px 0px 60px;
    }
    .head-box__line {
        position: relative;
        font-size: 18px;
        font-weight: 300;
        margin: 0 auto;

        &:before,&:after {
            content: '';
            width: 21%;
            height: 1px;
            display: inline-block;
            background-color: #b5b5b3;
            position: absolute;
            top: 50%;
        }
        &:before {
            left: 0px;
        }
        &:after {
            right: 0px;
        }
    }
    .head-box__title {
        font-size: 48px;
        margin-top: -9px;
    }
}

section,.prefooter {
    padding: 50px 0px;
    position: relative;
}
// header
header {
    @include display(flex);
    position: fixed;
    width: 100%;
    z-index: 100;

    .hamburger {
        color: #fff;
        font-size: 18px;
        padding: 10px 15px;
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            background-color: #fff;
            width: 15px;
            height: 1px;
        }
        .hamburger-inner {
            &:before {
                top: 5px;
            }
            &:after {
                bottom: 5px;
            }   
        }
        .hamburger-box {
            width: 37px;
        }
    }
    .top-wrapper-white {
        width: 72.5%;
        background-color: #fff;
        @include justify-content(space-between);

        .container {
            @include justify-content(space-between);
        }

        .dsgn-logo {
            @include display(flex);
            @include justify-content(center);
            @include align-items(center);
            max-width: 100px;
            width: 100%;
            height: 45px;
            border: 1px solid #f34739;
            border-radius: 19px;
            border-top-right-radius: 0px;
            font-weight: 300;
            color: #111;
        }
        .top-wrapper-white__socials {
            max-width: 190px;
            width: 100%;
            padding-right: 10px;
            @include display(flex);
            @include justify-content(space-between);
            i {
                font-size: 23px;
                cursor: pointer;
            }
            i.icon-facebook:hover {
                color: #3b5997;
            }
            i.icon-instagram:hover:before{
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            i.icon-twitter:hover {
                color: #1dcaff;
            }
            i.icon-linkedin-squared:hover {
                color: #0077B5;
            }
        }
    }
    .top-wrapper-black {
        width: 27.5%;
        background-color: #101010;
        position: relative;
    }
    .top-wrapper-black,.top-wrapper-white {
        padding: 15px 0px 20px;
    }

    .cbp-spmenu {
        width: 0%;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #101010;
        z-index: 100;
        transition: all 0.7s;
        li {
            list-style-type: none;
            padding: 20px;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
        &.menu-open {
            width: 100%;
        }
    }
}


// .banner__section 
.banner__section {
    background: url('../images/banner__bg-min.png') no-repeat;
    background-size: cover;
    background-position: 48% 100%;
    padding: 246px 0px 33px;

    .head-box {
        max-width: 100%;
        .head-box__line {
            max-width: 540px;
            font-family: $dosis-font;
            font-size: 30px;
        }
        .head-box__title {
            font-size: 72px;
            padding-bottom: 31px;
        }
        button {
            max-width: 200px;
            width: 100%;
            height: 50px;
            background-color: transparent;
            color: #fff;
            border: 2px solid #fff;
            border-radius: 25px;
            cursor: pointer;
            transition: background-color 0.5s;

            &:hover {
                background-color: #000;
                transition: background-color 0.5s;
            }
        }
    }
    .scroll-btn {
        @include display(flex);
        width: 22px;
        text-decoration: none;
        color: #fff;
        margin: 0 auto;
        margin-top: 155px;
        animation: scroll-down 2s infinite;
    }
}


// .our-stats__section
.our-stats__section {
    padding: 49px 0px 51px;
    z-index: 10;
    .our-stats__wrapper {
        max-width: 1019px;
        @include display(flex);
        @include justify-content(space-between);
        margin: 0 auto;
        .our-stats-box {
            width: 221px;
            position: relative;
            
            .our-stats-box__text {
                position: absolute;
                top: 47px;
                left: 0;
                right: 0;
                text-align: center;

                .stats__numbers {
                    font-size: 72px;
                    font-weight: 700;
                }
                .stats__title {
                    font-size: 18px;
                    color: #454545;
                }
            }
            p {
                text-align: center;
                color: #454545;
                padding-top: 32px;
            }
        }
    }
}

// .our-team__section
.our-team__section {
    background: url('../images/our-team__bg-min.png') no-repeat;
    background-position: 50% 100%;
    .head-box__line {
        max-width: 228px;
    }
}

// .our-personel__section 
.our-personel__section {
    z-index: 10;

    .our-personel__wrapper {
        max-width: 1181px;
        width: 100%;
        .our-personel__row {
            @include display(flex);
            width: 100%;
            margin: 0 auto;

            &.row-reverse {
                .our-personel__row__content {
                    &:before {
                        border-left: 3px solid #000;
                        border-right: 0px;
                        right: 0px;
                    }
                }
                .our-personel__row__image {
                    &:before {
                        right: 20px;
                        left: 0px;
                        border-right: 3px solid #fff;
                        border-left: 0px;
                    }
                }
            }
            .our-personel__row__image {
                max-width: 591px;
                width: 100%;
                position: relative;
                img {
                    height: 100%;
                }
                 &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    bottom: 20px;
                    right: 0px;
                    border: 3px solid #fff;
                    border-right: none;
                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    border-top: 34px solid transparent;
                    border-bottom: 34px solid transparent;
                    border-right: 32px solid #fff;
                    top: 50%;
                    margin-top: -38px;
                    right: 0;
                }
            }
    
            .our-personel__row__content {
                text-align: center;
                max-width: 568px;
                width: 100%;
                padding: 57px 0px;
                position: relative;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 20px;
                    left: 0px;
                    bottom: 20px;
                    right: 20px;
                    border: 3px solid #000;
                    border-left: none;
                }
                .person-details {
                    .person-details__name{
                        font-size: 36px;
                        font-weight: 400;
                    }
                    .person-details__proff {
                        font-size: 16px;
                        font-weight: 400;
                        margin-top: -3px;
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: relative;
                        width: 180px;
                        height: 3px;
                        background-color: #f34739;
                        margin: 15px auto 0px;
                    }
                }
                p {
                    font-size: 20px;
                    color: #454545;
                    padding-top: 23px;
                }
            }
        }
        .our-personel__row.row-reverse {
            .our-personel__content__border--black {
                border-left:3px solid #000;
                border-right: 0px;
            }
            .our-personel__image__border--white {
                    border-left: 0px;
                    left: 0px;
                    border-right: 3px solid #fff;
            }
            .our-personel__row__image:after {
                left: 0;
                right: initial;
                transform: rotate(180deg);
            }
        }
    }
}

// .our-portfolio__section 
.our-portfolio__section {
    background: url('../images/portfolio__bg-min.png') no-repeat;
    background-position: 48% 100%;
    padding: 50px 0px;
    
    .head-box__line {
        max-width: 260px;
        &:before,&:after {
            width: 13%;
        }
    }
}

// .our-gallery__section 
.our-gallery__section {
    padding: 0px;
    z-index: 10;
    .gallery-wrapper {
        flex-flow: wrap;
            .gallery-wrapper__item {
                width: 14.2857%;
                height: auto;
                img {
                    height: 100%;
                    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                }
                &:hover img {
                    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(0%);
                     transition: all 0.3s;
                     cursor: pointer;
                }
            }   
    }
}

// .our-brands__section {
.our-brands__section {
    background: url('../images/brands__bg-min.png') no-repeat;
    background-position: 50% 100%;
    .head-box__line {
        max-width: 185px;
        &:before,&:after {
            width: 20px;
        }
    }
}

// .our-partners__section 
.our-partners__section {
    .our-partners__wrapper {
        @include display(flex);
        @include flex-direction(column);

            .our-partners__item {
                position: relative;
                width: 14.2857%;
                height: 151px;
                border: 1px solid #f5f5f5;
                @include display(flex);
                @include justify-content(center);
                @include align-items(center);
                cursor: pointer;

                img {
                    width: 60px;
                    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                }
                &:hover img {
                     -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(0%);
                    cursor: pointer;
                    transition: all 0.3s;
                }
            }
            .container {
                flex-flow: wrap;
            }
        
    }
}

    .prefooter__section {
    background-color: #101010;
        .prefooter-wrapper {
            max-width: 1080px;
            width: 100%;
            @include display(flex);
            margin: 0 auto;

            .prefooter-col {
                text-align: center;
                flex: 1;

                .prefooter-col__heading {
                    color: #fff;
                    font-size: 30px;
                    font-weight: 300;

                    &:after {
                        content: '';
                        display: block;
                        position: relative;
                        width: 140px;
                        height: 1px;
                        background-color: #009989;
                        top: 12px;
                        margin: 0 auto;
                    }
                }
                p {
                    color: #4a4a4a;
                    padding-top: 38px;
                }
            }
        }
    }

// footer
footer {
    padding: 25px 0px;
    background-color: #0e0e0d;
    color: #4a4a4a;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.our-team__section,.our-portfolio__section,.our-brands__section {
    background-size: cover;
}

@keyframes scroll-down {
    0% {
        transform: translate3d(0,0,0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate3d(0,18px,0);
        opacity: 0;
    }
}

@media screen and (max-width: 767px) {
    .sm-flex-col {
        @include flex-direction(column);
    }
    .sm-align-center {
        @include align-items(center);
    }
    .prefooter__section {
        .prefooter-wrapper {
            .prefooter-col {
                &:not(:last-child) {
                    margin-bottom: 70px;
                }
            }
        }
    }
    .our-partners__section .our-partners__wrapper .our-partners__item,.our-gallery__section .gallery-wrapper .gallery-wrapper__item {
        width: 33.333%;
    }
    header .top-wrapper-white .top-wrapper-white__socials,.menu-text{
        display: none;
    }
    .our-personel__section  {
        .container {
            padding: 0px;
        }
        .our-personel__wrapper .our-personel__row {
            flex-direction: column-reverse;
            align-items: center;
            .our-personel__row__content {
                &:before {
                    border-left: 3px solid #000;
                    border-bottom: 0px;
                    bottom: 0px;
                    left: 20px;
                }
                p {
                    padding: 23px 40px 0px;
                }
            }
            &.row-reverse {
                .our-personel__row__content {
                    &:before {
                        right: 20px;
                        border-right: 3px solid #000;
                    }
                } 
            }
        }
    }
    .our-personel__section .our-personel__wrapper .our-personel__row,.our-personel__section .our-personel__wrapper .our-personel__row.row-reverse {  
        min-height: 550px;
        position: relative;
        .our-personel__row__image{
            max-width: 568px;
            height: 50%;
            position: absolute;
            &:before {
                right: 20px;
                left: 20px;
                border-left: 3px solid #fff;
                border-right: 3px solid #fff;
                top: 0px;
                border-top: 0px;
                bottom: 55px;
            }
            &:after {
                position: absolute;
                transform: rotate(270deg);
                top: -18px;
                left: 0;
                right: 0;
                width: 32px;
                height: 34px;
                margin: 0 auto;
                box-sizing: border-box;
            }
        }
        .our-personel__row__content {
            height: 50%;
            position: absolute;
            top: 0;
        }
    }
    .our-stats__section .our-stats__wrapper .our-stats-box:nth-of-type(2) {
        margin: 40px 0px;
    }
    .head-box {
        transform: initial;
    }
}

@media screen and (max-width: 425px) {
    .our-partners__section .our-partners__wrapper .our-partners__item {
        width: 50%;
    }
    .banner__section .head-box{
        .head-box__title {
            font-size: 49px;
            padding-bottom: 31px;
        }
    }
    .head-box .head-box__line:before, .head-box .head-box__line:after {
        width: 13%;
    }
    header {
        .top-wrapper-white,.top-wrapper-black {
            width: 50%;
        }
    }
}

// MIN WIDTH
@media screen and (min-width: 768px) {
    .hidden {
    transition: opacity 1s;
    opacity: 0;
    }
    .visible {
        transition: opacity 1s;
        opacity: 1;
    }
    .full-visible {
        opacity: 1;
    }
}