// GRID BASE CONFIG
$grid-columns: 12; //IloĹ›Ä‡ kolumn grid'a
$container: 1233px; // SzerokoĹ›Ä‡ kontenera (wrappera)

$desktopXS-grid-columns: 12;
$tablet-grid-columns: 12;
$mobile-grid-columns: 12;
$mobileS-grid-columns: 12;

// PAGE FONTS
$em-base: 18px; // Domyślna wielkość fontu do przeliczania na rem (działa tylko z frameworkiem Bourbon)
$baseFont: 'Quicksand', sans-serif;
$dosis-font: 'Dosis', sans-serif;


// PAGE COLORS
$baseColor: #000; // Kolor bazowy (zazwyczaj czarny lub podobny wykorzystywany globalnie np. dla fontów)


// SECTIONS BG
$body_bg: #fff;

// SIDE MENU
/*$sideMenuBorder: #ededed;*/


//MEDIA QUERIES
$desktop: "min-width: 769px";
$desktop-xs: "max-width: 1024px";
$tablet: "max-width: 768px";
$phone-xl: "max-width: 425px";
$phone-xs: "max-width: 375px";
